<aside class="sidebar">
			<div class="sidebar__header">
				<img src="assets/images/sidebar-header.jpg" >
			</div>
			<div class="sidebar__content">
				<div class="profile">
					<img class="profile_avatar" src="https://placehold.it/100">
					<div class="profile_name">Богдан Дорофеев</div>
					<div class="profile_prof">блог front-end разработчика</div>

					<ul class="social">
						<li class="social__item">
							<a class="social__link" href="#" target="_blank">
								<img src="assets/images/instagram.svg">
								
							</a>
						</li>
						<li class="social__item">
							<a class="social__link" href="#" target="_blank">
								<img src="assets/images/vk.svg">
								
							</a>
						</li>
						<li class="social__item">
							<a class="social__link" href="#" target="_blank">
								<img src="assets/images/telegram.svg">
								
							</a>
						</li>
					</ul>
					<div class="profile_text">
						<p>создавать сайт начал 14.04.2021.г это мой первый сайт многостраничный занимаюсь front-end разработкой 2 месяца</p>
					</div>
				</div><!--/.profile-->

			</div><!--/.sidebar__content-->
			<div class="sidebar__footer">
			<a class="btn btn--red" href="#">Мои работы</a>
			<button class="btn btn--blue" type="button">Написать мне</button>
			</div>
		</aside>